:root {
    --text-color: #161c2db3;
    --heading-color: #232121;
    --primery-color: #ff6600;
    --black-color: #000;
    --white-color: #fff;
    --boder-radius: 6px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.width {
    max-width: 1200px;
    margin: auto;
}