
.header {
    width: auto;
    height: 350px;
    background: url(/acsset/img/banner2.jpg);
    background-size: cover;
    object-fit: cover;
}

.header__wrap {
    background-image: linear-gradient(to right, rgba(243, 98, 1, 0.98), rgb(5 3 0 / 88%));
    width: auto;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.header__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right-search {
    background-color: var(--white-color);
    width: 248px;
    border-radius: var(--boder-radius);
    z-index: 1;
    margin-right: 12px;
}

.header-right__search-input {
    padding: 12px 0;
    margin-left: 20px;
    outline: none;
    border-color: transparent;
    border: var(--boder-radius);
}

.header-right__search-icon {
    color: var(--text-color);
    padding-right: 10px;
    font-size: 15px;
}

.header__right-icon {
    font-size: 28px;
    padding: 0 12px;
    color: var(--white-color);
    cursor: pointer;
}

.header__right {
    display: flex;
}

.header__logo,
.header__center-text {
    text-decoration: none;
}

.header__logo-heading {
    color: var(--white-color);
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    cursor: pointer;
}

.header__center {
    padding-top: 80px;
}

.header__center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.header__center-text {
    color: var(--white-color);
}

.header__center-text:nth-child(1) {
    color: var(--primery-color);
}

.header__center-item-icon {
    font-size: 12px;
    padding: 0 8px;
}

.header__right-icon:hover,
.header__logo-heading:hover,
.header__center-text:hover {
    opacity: 0.5;
}

/* END HEADER */

/* SIDEBAR */

.sidebar {
    right: 0;
    top: 58px;
    position: fixed;
    max-width: 90px;
    min-width: 90px;
    background-color: #0D1326;;
    color: #8f95a8;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    z-index: 3;
}

.sidebar__button-list {
    list-style-type: none;
    padding: 0;
}

.sidebar__button-item {
    display: block;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.sidebar__button-item:hover {
    color: #b4b9ca;
}

.sidebar__button-item:nth-child(1) {
    width: 80px;
    margin-left: 5px;
    border-bottom: 1px solid #e6ebff;
}

.sidebar__button-item-icon {
    font-size: 14px;
}

.sidebar__button-text {
    font-size: 16px;
    padding-top: 10px;
    margin: 0;
}

/* SIDE BAR ARROW UP */

.sidebar__arrow-up {
    position: fixed;
    bottom: 163px;
    right: 10px;
    background-color: var(--primery-color);
    display: inline-block;
    z-index: 1;
    border-radius: 50%;
}

.sidebar__arrow-up i {
    color: var(--white-color);
    padding: 14px 13px;
    font-size: 16px;
}

/* CONTENT */

.content {
    user-select: none;
}

/* CONTENT BOX1 */  

.content__box1-wrap {
    background-color: var(--white-color);
    position: relative;
    z-index: 2;
}

.content__box1 {
    display: grid;
    background-color: var(--white-color);
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 63px;
    padding: 96px 10px 192px 20px;
}

.content__box1-left {   
    min-width: 471px;
}

.content-box1__left-heading {
    color: var(--primery-color);
    font-size: 20px;
    font-family: cursive;
    margin: 0;
}

.content-box1__left-text {
    font-size: 38px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1.4;
    color: var(--heading-color);
}

.content-box1__right-text {
    margin: 0;
    line-height: 1.8;
    color: var(--text-color);
}

.content-box1__right-text:nth-child(1) {
    padding-bottom: 16px;
}

/* CONTENT BOX2 */

.content__box2-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 96px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.content-box2__item-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.content-box2__list-item {
    padding: 0 65px;
}

.content-box2__item-icon {
    font-size: 26px;
    color: var(--primery-color);
    min-width: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--boder-radius);
}

.content-box2__list-item:hover .content-box2__item-icon {
    color: var(--white-color);
    background-color: var(--primery-color);
    transition: all ease-in 0.4s;
}

.content-box2__item-heading {
    line-height: 1.6;
}

.content-box2__heading-number {
    font-size: 18px;
    color: var(--text-color);
    margin: 0;
    font-weight: 400;
}

.content-box2__heading-text {
    font-size: 24px;
    color: var(--heading-color);
    font-weight: 500;
    margin: 0;
}

.content-box2__item-description {
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.6;
}

/* CONTENT BOX3 */

.content__box3 {
    width: auto;
    height: 488px;
    position: relative;
    text-align: center;
}

.content__box3-image {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.content__box3-wrap {
    position: absolute;
    top: 28%;
    max-width: 700px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.content__box3-heading {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}

.content__box3-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.content__box3-button {
    font-size: 16px;
    padding: 19px 53px;
    background-color: transparent;
    color: var(--white-color);
    border-radius: var(--boder-radius);
    border: 1px solid var(--white-color);
    font-weight: 700;
}

.content__box3-button:hover {
    background-color: var(--white-color);
    color: var(--primery-color);
    border-color: var(--white-color);
    transition: all ease-in 0.3s;
}

.content__box3-button-icon {
    font-size: 11px;
}

.content__box3-button--primery {
    background-color: var(--primery-color);
    border: none;
    padding: 20px 54px;
}

.content__box3-button--primery:hover {
    opacity: 0.7;
    transition: all ease-in 0.3s;
}

/* CONTENT BOX4 */

.content__box4 {
    padding: 96px ;
}

.content__box4-heading {
    text-align: center;
    margin-bottom: 48px;
}

.content-box4__heading-text {
    color: var(--primery-color);
    font-size: 20px;
    font-family: cursive;
    margin: 0;
}

.content-box4__heading-header {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1.4;
}

.content-box4__content-list {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 24px 64px;
}

.content-box4__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--text-color);
}

.content-box4__product-name {
    font-size: 20px;
    margin: 0;
    color: var(--heading-color);
    font-weight: 500;
}

.content-box4__product-price {
    font-size: 21px;
    color: var(--primery-color);
    margin: 0;
}

.content-box4__list-description {
    font-size: 18px;
    color: var(--text-color);
    padding-top: 10px;
    margin: 0;
}

/* FOOTER */

.footer {
    background-color: var(--black-color);
    padding-top: 48px;
}

/* FOOTER LEFT */

.footer__list {
    display: grid;
    gap: 30px;
    padding: 24px 20px;
    padding-bottom: 70px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.footer__list-wrap {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.footer__list-wrap1 {
    display: grid;
    grid-template-columns: 30% 63%;
    gap: 30px;
}

.footer__list-info {
    width: auto;
    overflow: hidden;
}

.footer-list__info-header {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 700;
}

.footer-list__social-link {
    text-decoration: none;
}

.footer-list__info-icon {
    color: var(--primery-color);
    padding: 7px 10px;
    border-radius: var(--boder-radius);
    background-color: var(--white-color);
    font-size: 16px;
}

.footer-list__info-icon:hover {
    background-color: var(--primery-color);
    color: var(--white-color);
    transition: all ease-in 0.2s;
}

.footer-list__info-text-link {
    color: #95a292;
    font-size: 17px;
    text-decoration: none;
}

.footer-list__info-text-link:hover {
    color: var(--primery-color);
}

.footer-list__info-text {
    color: #95a292;
    margin-bottom: 24px;
    line-height: 1.6;
}

.footer-list__info-input {
    padding: 18px 100% 18px 22px;
    width: 100%;
    border-radius: var(--boder-radius);
    border: none;
    outline-style: solid;
    font-size: 18px;

}

.footer-list__info-input:focus {
    outline-color: var(--primery-color);
}

.footer-list__info-btn {
    border: none;
    border-radius: var(--boder-radius);
    margin-top: 16px;
    background-color: var(--primery-color);
    color: var(--white-color);
    width: 100%;
    padding: 19px 0;
}

.footer-list__info-btn:hover {
    opacity: 0.7;
    transition: all ease-in 0.3s;
}

/* FOOTER RIGHT */

.footer__footer {
    border-top: 1px solid rgb(255 255 255 / 5%);
}

.footer__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    padding: 0 20px;
}

.footer__left-text {
    color: var(--white-color);
    font-size: 17px;
    font-weight: 400;
}

.footer__left-text a {
    color: var(--primery-color);
    text-decoration: none;
}

.footer__left-text a:hover {
    color: var(--white-color);
}

.footer__right {
    display: flex;
    gap: 48px;
}

.footer__right-link {
    font-size: 17px;
    color: #95a292;
    text-decoration: none;
}

.footer__right-link:hover {
    color: var(--primery-color);
}