
.header {
    width: auto;
    height: 350px;
    background: url(/acsset/img/banner2.jpg);
    background-size: cover;
    object-fit: cover;
}

.header__wrap {
    background-image: linear-gradient(to right, rgba(243, 98, 1, 0.98), rgb(5 3 0 / 88%));
    width: auto;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.header__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right-search {
    background-color: var(--white-color);
    width: 248px;
    border-radius: var(--boder-radius);
    z-index: 1;
    margin-right: 12px;
}

.header-right__search-input {
    padding: 12px 0;
    margin-left: 20px;
    outline: none;
    border-color: transparent;
    border: var(--boder-radius);
}

.header-right__search-icon {
    color: var(--text-color);
    padding-right: 10px;
    font-size: 15px;
}

.header__right-icon {
    font-size: 28px;
    padding: 0 12px;
    color: var(--white-color);
    cursor: pointer;
}

.header__right {
    display: flex;
}

.header__logo,
.header__center-text {
    text-decoration: none;
}

.header__logo-heading {
    color: var(--white-color);
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    cursor: pointer;
}

.header__center {
    padding-top: 80px;
}

.header__center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.header__center-text {
    color: var(--white-color);
}

.header__center-text:nth-child(1) {
    color: var(--primery-color);
}

.header__center-item-icon {
    font-size: 12px;
    padding: 0 8px;
}

.header__right-icon:hover,
.header__logo-heading:hover,
.header__center-text:hover {
    opacity: 0.5;
}

/* END HEADER */

/* SIDEBAR */

.sidebar {
    right: 0;
    top: 58px;
    position: fixed;
    max-width: 90px;
    min-width: 90px;
    background-color: #0D1326;;
    color: #8f95a8;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    z-index: 3;
}

.sidebar__button-list {
    list-style-type: none;
    padding: 0;
}

.sidebar__button-item {
    display: block;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.sidebar__button-item:hover {
    color: #b4b9ca;
}

.sidebar__button-item:nth-child(1) {
    width: 80px;
    margin-left: 5px;
    border-bottom: 1px solid #e6ebff;
}

.sidebar__button-item-icon {
    font-size: 14px;
}

.sidebar__button-text {
    font-size: 16px;
    padding-top: 10px;
    margin: 0;
}

/* SIDE BAR ARROW UP */

.sidebar__arrow-up {
    position: fixed;
    bottom: 163px;
    right: 10px;
    background-color: var(--primery-color);
    display: inline-block;
    z-index: 1;
    border-radius: 50%;
}

.sidebar__arrow-up i {
    color: var(--white-color);
    padding: 14px 13px;
    font-size: 16px;
}

/* CONTENT */

.content {
    user-select: none;
}

/* CONTENT BOX1 */  

.content__box1-wrap {
    background-color: var(--white-color);
    position: relative;
    z-index: 2;
}

.content__box1 {
    background-color: var(--white-color);
    width: auto;
    text-align: center;
    padding: 96px 20px 38px 20px;
}

.content__box1-left {   
    min-width: 471px;
}

.content-box1__left-heading {
    color: var(--primery-color);
    font-size: 20px;
    font-family: cursive;
    margin: 0;
}

.content-box1__left-text {
    font-size: 38px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1.4;
    color: var(--heading-color);
}

.content-box1__right-text {
    margin: 0;
    line-height: 1.8;
    color: var(--text-color);
}

.content-box1__right-text:nth-child(1) {
    padding-bottom: 16px;
}

/* FORM INPUT */

.content__box1-form {
    padding: 0 20px;
}

.content-box1__form-3box {
    padding: 10px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.content-box1__form-input {
    border-radius: var(--boder-radius);
    border: 1px solid var(--white-color);
    outline: none;
    padding: 18px 20px;
    font-size: 18px;
    background:var( --bg-grey)
}

.content-box1__form-input:focus {
    border: 1px solid var(--primery-color);
}

.content-box1__form-right {
    max-width: 100%;
}

.content-box1__form-message {
    height: 200px;
    outline: none;
    border: none;
    padding: 12px 20px;
    width: 92%;
    border-radius: var(--boder-radius);
    background:var(--bg-grey)
}

.content-box1__form-message:focus {
    border: 1px solid var(--primery-color);
}

.content-box1__form-btn {
    margin-top: 24px;
    padding: 18px 0;
    border: none;
    border-radius: var(--boder-radius);
    display: block;
    color: var(--white-color);
    background: var(--primery-color);
    width: 205px;
    margin-left: 100%;
    transform: translate(-100%);
}

.content-box1__form-btn:hover {
    opacity: 0.7;
    transition: all ease-in 0.3s;
}

/* CONTEN CONTAC */

.content__contact {
    padding: 96px 20px;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 30px;
}

.content__contact-address {
    max-width: 328px;
}

.contact__map-img {
    width: 100%;
}

.content-contact__address-information {
    list-style-type: none;
    padding: 0;
    display: grid;
    row-gap: 24px;
}

.content-contact__information-text {
    line-height: 1.7;
}

.content-contact__information-heading-icon {
    color: var(--primery-color);
}

.content-contact__information-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-contact__information-header {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}

.content-contact__address-suvheading {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
}

.content-contact__address-suvheading:hover {
    color: var(--primery-color);
}

/* FOOTER */

.footer {
    background-color: var(--black-color);
    padding-top: 48px;
}

/* FOOTER LEFT */

.footer__list {
    display: grid;
    gap: 30px;
    padding: 24px 20px;
    padding-bottom: 70px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.footer__list-wrap {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.footer__list-wrap1 {
    display: grid;
    grid-template-columns: 30% 63%;
    gap: 30px;
}

.footer__list-info {
    width: auto;
    overflow: hidden;
}

.footer-list__info-header {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 700;
}

.footer-list__social-link {
    text-decoration: none;
}

.footer-list__info-icon {
    color: var(--primery-color);
    padding: 7px 10px;
    border-radius: var(--boder-radius);
    background-color: var(--white-color);
    font-size: 16px;
}

.footer-list__info-icon:hover {
    background-color: var(--primery-color);
    color: var(--white-color);
    transition: all ease-in 0.2s;
}

.footer-list__info-text-link {
    color: #95a292;
    font-size: 17px;
    text-decoration: none;
}

.footer-list__info-text-link:hover {
    color: var(--primery-color);
}

.footer-list__info-text {
    color: #95a292;
    margin-bottom: 24px;
    line-height: 1.6;
}

.footer-list__info-input {
    padding: 18px 100% 18px 22px;
    width: 100%;
    border-radius: var(--boder-radius);
    border: none;
    outline-style: solid;
    font-size: 18px;

}

.footer-list__info-input:focus {
    outline-color: var(--primery-color);
}

.footer-list__info-btn {
    border: none;
    border-radius: var(--boder-radius);
    margin-top: 16px;
    background-color: var(--primery-color);
    color: var(--white-color);
    width: 100%;
    padding: 19px 0;
}

.footer-list__info-btn:hover {
    opacity: 0.7;
    transition: all ease-in 0.3s;
}

/* FOOTER RIGHT */

.footer__footer {
    border-top: 1px solid rgb(255 255 255 / 5%);
}

.footer__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    padding: 0 20px;
}

.footer__left-text {
    color: var(--white-color);
    font-size: 17px;
    font-weight: 400;
}

.footer__left-text a {
    color: var(--primery-color);
    text-decoration: none;
}

.footer__left-text a:hover {
    color: var(--white-color);
}

.footer__right {
    display: flex;
    gap: 48px;
}

.footer__right-link {
    font-size: 17px;
    color: #95a292;
    text-decoration: none;
}

.footer__right-link:hover {
    color: var(--primery-color);
}
.content-box1__form-message {
    resize: none;
    min-height: 200px;
    width: 100%;
    padding:12px 20px ;
    margin-right: 20px;
}
